#!/usr/bin/make -f
export DH_VERBOSE = 1

# main packaging script based on dh7 syntax
%:
	dh $@  --with epics -Sepicsmake

override_dh_auto_test:
	# skip

override_dh_install:
	rm -f debian/tmp/usr/lib/epics/bin/linux-*/lemon
	install -d debian/tmp/etc/epics/configure/rules.d
	mv debian/tmp/usr/lib/epics/configure/RULES_BUILD debian/tmp/etc/epics/configure/rules.d/seqsnc.make
	dh_install --fail-missing
